<div class="carousel">

  <div class="slides">
    <div *ngFor="let photo of photos"
        [@focusPanel]='photo.state'
    >
      <div  class="arrow" (click)="previous()"><img src="../../assets/img/left-white.png" ></div>
      <img  class="slides-image" src="{{photo.url}}" alt="">
      <div class="arrow arrow-right"><img (click)="next()"  img src="../../assets/img/right-white.png"></div>
    </div>
  </div>

</div>

<div class="image-list">
  <div><img (click)="previous()"  img src="../../assets/img/left-black.png"></div>
  <div *ngFor="let photo of photos">
    <img (click)="choose(photo)" class="image-item"
         src="{{photo.url}}" alt=""
         [ngStyle]="{'filter':  photo.id == startIndex ? 'blur(0)' : 'blur(4px)'}"
    >
  </div>
  <div><img (click)="next()"  img src="../../assets/img/right-black.png"></div>
</div>


